/*------------------------------------*\
	MAIN
\*------------------------------------*/
html {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #444;
	background: #FFF;
}
body {
	background: none;
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1 {
	font-weight: bold;
	font-size: 3em;
	line-height: 1;
	margin: 0;
}
a {
	color: inherit;
}





/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo {
	margin: 0 auto;
	width: 220px;
	height: 30px;
	text-indent: -9999em;
	background-image: url('http://latextutorials.marcusmo.co.uk/files/2011/04/latextutorials.png');
}





/*------------------------------------*\
	HEADER
\*------------------------------------*/
#banner {
	text-align: center;
}
.description {
	font-size: 0.79em;
}





/*------------------------------------*\
	MAIN BODY
\*------------------------------------*/
.list-thirds {
	
}





/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/





@media (min-width: 721px) and (max-width: 960px) {
	
}
/*--- END NARROW ---*/





/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/





@media (max-width: 720px) {
	body {
		font-size: 0.75em;
	}
}
/*--- END MOBILE ---*/